# Dependencias de Node.js
node_modules/
package-lock.json

# Archivos de compilación y distribución
dist/

# Variables de entorno y configuración local
.env
.nvrc
.nvmrc

# Configuración de herramientas de desarrollo
nodemon.json

# Cachés y logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de sistema (opcional)
.DS_Store
Thumbs.db
